.container{
    display: flex;
    height: 100%;
    min-height: 100vh;
    font-family: var(--font-urbanist);
}

.sidebar{
    display: none;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
    background: #FFFFFF;
    padding: 32px 0px;
    border: 1px solid #E4E7EC;
}


.logo{
    display: flex;
    justify-content: center;
}

.sidebarMenuDiv{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0px 10px;
}

.sidebarMenu{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    cursor: pointer;
    margin-bottom: 8px;
    text-decoration: none;
}

.sidebarMenu:hover{
    background: #F0F2F5;
    border-radius: 4px;
}

.sidebarMenu.active{
    background: #FFECE5;
    border-radius: 4px;
}

.sidebarMenu  p{
    color: #344054;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em
}

.sidebarMenu p.active{
    color: #101828;
}

.content{
    flex-grow: 1;
    flex: 1 1 auto;
    flex-shrink: 1;
    overflow-y: scroll;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #E4E7EC;
}

.title_div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.title{
    color: #98A2B3;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.userInfoDiv{
    display: flex;
    align-items: center;
    gap: 15px;
}

.setupDiv{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #344054;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.main{
    padding: 20px 20px;
}

/* Mobile */
@media (max-width: 700px) {

}

/* From tablet above */
@media (min-width: 768px) {
 
    .sidebar{
        width: 256px;
        display: flex;
    }
}