.container{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.title{
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.subtitle{
    color: #667185;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}

.container_cta{
    display: flex;
    gap: 15px;
    align-items: center;
}

.primary_btn{
    background: white;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #344054;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.3s ease;
}

.primary_btn:hover,.secondary_btn:hover{
    transform: translateY(-5px);
}

.secondary_btn{
    background:#EB5017;
    border: 1px solid #EB5017;
    border-radius: 6px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.3s ease;
}

.secondary_btn:disabled{
    opacity: 0.7;
    pointer-events: none;
}

.cardLayout{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    margin-top: 30px;
}

.card{
    border: 1px solid #E4E7EC;
    background: white;
    border-radius: 10px;
    padding: 16px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card h6{
    color: #475467;
    font-weight: 400;
    font-size: 12px;
}

.card h4{
    color: #344054;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
}

.cardBadgeDiv{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.cardBagde{
    background: #E7F6EC;
    border-radius: 10px;
    padding: 4px 6px;
    color: #036B26;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
}

.cardBadgeDiv p{
    color: #7A7A9D;
    font-size: 12px;
    font-weight: 400;
}

.cardIcon{
    border: 1px solid #E4E7EC;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordersDiv{
    margin-top: 30px;
}

.ordersTitle{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

/* table styles */
.orderTable{
    margin-top: 15px;
    overflow-x: auto;
}

.table{
    min-width: 100%;
    border-collapse: collapse;
}


.tablehead{
    background-color: #F9FAFB;
    border: 1px solid #ddd;
}

.tablehead, .tablebody td{
    color: #344054;
    font-size: 12px;
    font-weight: 500;
    padding: 14px 20px;
    border: 1px solid #ddd;
    text-align: left;
}

.tablebody td.badgePaid{
    color: #0F973D;
    text-transform: capitalize;
}

.tablebody td.badgePending{
    color: #D42620;
    text-transform: capitalize;
}

.tablebody td.badgePending{
    color: #D42620;
}

.tablebody{
    background: #FEFEFE;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 20px;
    text-align: left;
}

.orderId{
    color: #101928;
    font-size: 12px;
    font-weight: 500;
}

.customerName{
    color: #475367;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

.badge{
    width: fit-content;
    background: #E7F6EC;
    border-radius: 12px;
    padding: 5px 10px;
    color: #099137;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.badge_transit{
    width: fit-content;
    background: #E3EFFC;
    border-radius: 12px;
    padding: 5px 10px;
    color: #04326B;
    font-size: 12px;
    font-weight: 500;
}

.badge_pending{
    width: fit-content;
    background: #F0F2F5;
    border-radius: 12px;
    padding: 5px 10px;
    color: #344054;
    font-size: 12px;
    font-weight: 500;
}

.actionsDiv{
    border: 1px solid #E4E7EC;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    position: relative;
}

.moreDiv{
    position: absolute;
    padding: 0.5em 0.5em;
    top: 1.5em;
    right: 2.5em;
    min-width: 187px;
    border-radius: 0.5em;
    background: white;
    list-style: none;
    box-shadow: 0px 16px 32px 0px #00000014;
    z-index: 6;
}

.moreDiv li{
    padding: 15px 10px;
    cursor: pointer;
}

.moreDiv li:hover{
    background: #edf7ee;
}

/* forms styles */
.form{
    margin-top: 20px;
}

.inputDiv{
    margin-bottom: 20px;
}

.form label{
    display: block;
    margin-bottom: 8px;
    color: #101928;
    font-size: 14px;
    font-weight: 500;
}

.form input{
    width: 100%;
    height: 40px;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    padding: 20px 15px;
}

.form input:focus{
    outline: none;
    border: 1px solid #FCB59A;
}

.form button{
    width: 100%;
    border: 1px solid #EB5017;
    border-radius: 6px;
    padding: 16px 16px;
    background: #EB5017;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.form button:disabled{
    opacity: 0.7;
    pointer-events: none;
}

.deleteTitle{
    margin-top: 20px;
    color: #101928;
    font-size: 14px;
}


.deleteDiv{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}

/* order details styles */
.detailDiv{
    margin-top: 15px;
}

.track_title{
    color:#F56630;
    font-size: 14px;
    font-weight: 500;
}

.orderInfoDiv{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.orderInfoId{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.orderInfoDate{
    color: #475467;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.orderInfoAmt{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.orderHrLine{
    background: #E4E7EC;
    width: 100%;
    height: 1px;
    margin-top: 20px;
}

.orderInfo{
    margin-top: 20px;
}

.orderInfo h6{
    color: #475467;
    font-size: 12px;
}

.orderInfo p{
    color: #101928;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.itemDiv{
    margin-top: 20px;
}

.itemQty{
    color:#101928;
    font-size: 14px;
    font-weight: 500;
}

.productDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productInfoDiv{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.productName{
    color: #344054;
    font-size: 14px;
    font-weight: 500;
}

.productUnit{
    color: #099137;
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
    text-transform: capitalize;
}

.productUnitPending{
    color: #D42620;
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
    text-transform: capitalize;
}

.order_trackingtitle{
    color: #101928;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px; 
}

.cta_div{
margin-top: 20px;
}


.btn_delivered{
    display: flex;
    justify-content: center;
    text-align: center;
    background:white;
    border: 1px solid #CC400C;
    border-radius: 6px;
    padding: 16px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #CC400C;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease; 
}

.btn_delivered:hover{
    background: #CC400C;
    color: white;
}

.timelineWrapper{
    margin-top: 20px;
}

.timeline{
    position: relative;
    border-inline-start-width: 1px;
    border-color: #E4E7EC;
    border-inline-start-style: solid;
}

.timeline li{
    list-style: none;
    margin-bottom: 40px;
    margin-inline-start: 16px;
}


.timeline li div.active{
    background-color: #04802E;
}

.timeline li div{
    position:  absolute;
    width: 12px;
    height: 12px;
    background-color: #98A2B3;
    border-radius: 50%;
    margin-top: 6px;
    inset-inline-start: -6px;
    border-color: white;
}

.timeline li time{
    margin-bottom: 4px;
    font-size: 10px;
    line-height: 1;
    color: #099137;
}

.timeline li h3{
    font-size: 14px;
    color: #344054;
    font-weight: 500;
}


/* Mobile */
@media (max-width: 700px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;   
    }

    .container_cta{
       margin-top: 20px;
    }

    .cardLayout{
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        margin-top: 30px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}